<h1>Quote Nation</h1>
  <div class="container">
    <div *ngFor='let quote of quotes; let i=index'>
    <div class=username>{{quote.name}}
      </div>
    <div class= sentence>{{quote.description}}</div>
    <div class=writer>"{{quote.author}}"</div>
    <div id={{i}}> posted on {{quote.completeDate|date}}</div>
      <app-quote-details [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-details>
       </div>
       <br>
       <br>
       <p>Join the club!post your quote here and have it voted on by fellow users!</p>
       <div class="row">
          <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
          <!-- <app-quote-vote></app-quote-vote> -->
      </div> 
      </div>
  
